@font-face {
  font-family: Kickback;
  src: url('../public/fonts/Kickback.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: hsl(0, 0%, 99%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.safari-transform {
  -webkit-transform: translate3d(0, 0, 0);
}

.safari-z-fix {
  -webkit-transform: translate3d(0, 0, 1px);
}
